<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>honyac konjac</title>
    <link rel="stylesheet" href="style.css" >
    <style type="text/css">
      @import url("/templates/style.css");
    </style>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
</head>
    <body>
        <header class="header">
            <h1>honyac konjac</h1>
        </header>
        <div class="contents">
            <h2>翻訳しました!!!</h2>
            <p>元の言葉： 青いホルスの瞳 </p>
            <table align="center">
            
                <tr><td>英語</td>
                    <td>Blue horus eyes</td></tr>
            
                <tr><td>アイルランド語</td>
                    <td>Súile gorm horus</td></tr>
            
                <tr><td>アラビア語</td>
                    <td>عيون حورس الزرقاء</td></tr>
            
                <tr><td>ギリシャ語</td>
                    <td>Μπλε μάτια horus</td></tr>
            
                <tr><td>エスペラント</td>
                    <td>Bluaj horusaj okuloj</td></tr>
            
                <tr><td>スペイン語</td>
                    <td>Ojos azules horus</td></tr>
            
                <tr><td>フランス語</td>
                    <td>Yeux d&amp;#39;horus bleus</td></tr>
            
                <tr><td>イタリア語</td>
                    <td>Occhi blu horus</td></tr>
            
                <tr><td>オランダ語</td>
                    <td>Blauwe horusogen</td></tr>
            
                <tr><td>アフリカーンス語</td>
                    <td>Blou horus oë</td></tr>
            
                <tr><td>フィンランド語</td>
                    <td>Sininen horus silmät</td></tr>
            
                <tr><td>ドイツ語</td>
                    <td>Blaue Horusaugen</td></tr>
            
                <tr><td>スウェーデン語</td>
                    <td>Blå horusögon</td></tr>
            
                <tr><td>ノルウェー語</td>
                    <td>Blå horusøyne</td></tr>
            
                <tr><td>アイスランド語</td>
                    <td>Blá horus augu</td></tr>
            
                <tr><td>ロシア語</td>
                    <td>Голубые глаза</td></tr>
            
                <tr><td>ポーランド語</td>
                    <td>Niebieskie oczy horusa</td></tr>
            
                <tr><td>ブルガリア語</td>
                    <td>Сини очи на хорус</td></tr>
            
                <tr><td>ウクライナ語</td>
                    <td>Блакитні очі хору</td></tr>
            
                <tr><td>キルギス語</td>
                    <td>Гор көк көзү</td></tr>
            
                <tr><td>トルコ語</td>
                    <td>Mavi gözler</td></tr>
            
                <tr><td>スワヒリ語</td>
                    <td>Macho horus ya bluu</td></tr>
            
            </table>
            <footer>
                <p><a href="/">ホーム</a></p>
            </footer>
        </div>
    </body>
</html>
