html {
    margin: ;         /* 余白の削除 */
    padding: 0;        /* 余白の削除 */
    width: 100%;
    height: 100%;
}

body {
    margin: ;         /* 余白の削除 */
    padding: 0;        /* 余白の削除 */
    width: 100%;
    height: 100%;
    background: #efe0c3;
}

header {
	width: 100%;
    height: 100px;
    position: fixed;
    text-align: center;
}

h1 {
    font-family: "メイリオ", sans-serif;
    background: white;
    line-height: 100px;
    margin: 0px;
}
    @media screen and (max-width:480px){
        h1 {font-size: 40px;}
    }
    
    @media screen and (min-width:480px) and (max-width:1024px){
        h1{
        top: 50px;
        font-size: 50px;
        margin-left: 70px;
        }
    }
}

.blank {
    height: 300px;
}



.contents {
  text-align: center;
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: "メイリオ", sans-serif;
  font-size: 16px;
}

p {
	margin: 0;
}
h2 {
    margin: 0;
    padding-top: 140px;
    margin-bottom: 30px;
}



table tr:nth-child(odd) td {
  background-color: #EAF6FD;
}
table tr:nth-child(even) td {
  background-color: ;
}

footer {
    font-size: 30px;
    margin-bottom: 32 px;
}