/* 自分で設定したCSS */
#jsmind_container{
    float:left;
    width: 100%;
    height:500px;
    border:solid 1px #ccc;
    background:#f4f4f4;
}

div.language{
    font-size: small;
}

div.response{
    font-size: large;
    font-weight: bold;
}